:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* index.css */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

/* Global styles */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: azure
}


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  margin: 0 auto;
  /* Center the container */
  padding: 10px;
  /* Adjust padding to reduce space on top and sides */
  box-sizing: border-box;
  background-color: azure;
}

.main-content {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

header,
footer {
  flex-shrink: 0;
  /* Prevent the header from shrinking */
  width: 100%;
  /* Ensure header and footer take full width */
  box-sizing: border-box;
  max-width: 1200px;
  /* Set a maximum width */
  margin: 0 auto;
  /* Center the header and footer */

}

.text-center {
  font-size: 1.7em;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
  margin-top: 1px;
}

.copyright {
  font-size: 0.8em;
  color: black;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 100%;
  background-image: url('/header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px 0;
  border: none;

  box-sizing: border-box;
  margin: 0;
  border-bottom: 2px dashed black;
}

.header-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  /* White overlay with 50% opacity */


}

.logo {
  max-width: 395px;
  min-width: 185px;
  width: 100%;
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  /* Ensure the logo is displayed as a block element */
  margin: 0 auto 1px;
  /* Center the logo */
}

.navbar {
  width: 100%;
  /* Full width */
  background-color: transparent !important;
  /* Make the navbar background transparent */
  margin-top: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: -2px;
  z-index: 2;
  /* Ensure the nav links are above the overlay */
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: white;
  margin: 0 8px;
  padding: 2px;
  /* Increase clickable area */
  text-decoration: none;
  /* Remove underline */
  font-size: 1em;
  position: relative;


}

.navbar-nav .nav-link:not(:last-child)::after {
  content: '|';
  font-size: 1.1em;
  position: absolute;
  color: black;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;

}

.navbar-nav .nav-link:hover .fa-icon {
  background-color: rgba(255, 255, 255, 0.2);
  color: #535bf2;
  border-radius: 8px;
}

.img-fluid {
  background-color: transparent;
  /* Ensure background is transparent */
  max-width: 150px;
  height: auto;
  /* Maintain aspect ratio */
}



.footer.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  padding: 10px 0;
  box-sizing: border-box;

}


/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: row;
    align-items: center;
  }

  .navbar-nav .nav-link {
    margin: 10x 0;
    padding: 0;
    margin-top: -10px;
  }
}

/* Styles for larger screens */
@media (min-width: 1025px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: -10px;
  }

  .navbar-nav .nav-link {
    font-weight: bold;
    color: white;
    margin: 0 15px;
    padding-bottom: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.3em;
  }

  .navbar-nav .nav-link:not(:last-child)::after {
    content: '|';
    font-size: 0.8em;
    position: absolute;
    color: black;
    margin-left: 10px;
    padding-bottom: 2px;
  }



  .navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #535bf2;
    border-radius: 5px;
  }
}


/* Media query for tablet devices (e.g., iPads) */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    /* Ensure no extra margin on tablets */
  }

  .navbar-nav .nav-link {
    margin: 0 10px;
    /* Adjust margin for tablet screens */
    padding: 2x 10px;
    /* Ensure consistent padding */
    margin-top: -10px;
  }
}