.home-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .about-section {
    background-color:#F0F0DA;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
  }
  
  .about-section h2 {
    color: #0a11c7;
    margin-bottom: 10px;
  }
  
  .about-section p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: bolder ;
  }

  /* Style for links within the about-section */
.about-section a {
  font-weight: bold;
  color: #0a11c7; 
}

  /* Responsive design for mobile */
@media (max-width: 600px) {
  .about-section {
      padding: 10px; /* Further reduced padding for mobile */
  }

  .about-section h2 {
      font-size: 1.5em; /* Adjust font size for mobile */
  }

  .about-section p {
      font-size: 1em; /* Adjust font size for mobile */
  }
}