.user-page {
    display: flex;
   
}



.sidebar {
    width: 0;
    background-color: lightgray;
    padding: 15px;
    position: relative;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px); /* Adjust height to account for header */

    overflow-y: auto;
    border: 2px solid black;
    transition: width 0.3s ease;
    visibility: hidden;
}

.sidebar.active {
    width: 182px;
    visibility: visible;
}

.sidebar a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.sidebar a.active {
    color: #007bff;
}

.sidebar a:hover {
    color: #0056b3;
}



.content {
    flex: 1;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

.content h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
.content.active {
    margin-left: 182px;
    /* Adjust this value if you want a different margin when sidebar is active */
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .user-page {
        flex-direction: column;
        /* Stack sidebar and content vertically */
    }

    .sidebar {
        width: 100%;
        /* Full width for sidebar */
        height: auto;
        /* Auto height for sidebar */
        position: relative;
        /* Relative positioning */
        top: 0;
        /* Reset top position */
        left: 0;
        /* Reset left position */
        bottom: auto;
        /* Reset bottom position */

    }

    .sidebar.active {
        width: 100%;
        /* Full width for active sidebar */
    }

    .content {
        margin-left: 0;
        /* Reset margin for content */
        top: 0;
        /* Reset top position */
    }

    .content.active {
        margin-left: 0;
        /* Reset margin for active content */
    }


}