/* Footer.css */

.footer {
    width:100%;
    padding: 20px 0; /* Increased padding for better spacing */
    text-align: center;
    z-index: 1000;
    border-top: 3px dashed lightgray;
    box-sizing: border-box;
}

.footer h5 {
    font-weight: bolder;
    font-size: medium;
    margin: 0 0 10px 0; /* Adjusted margin for better spacing */
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.footer-content {
    width: 100%;
    max-width: 1200px; /* Adjust max-width as needed for large screens */
    margin: 0 auto;
    padding: 0 15px; /* Adjust padding as needed */
  }
  
.footer p {
    max-width: 600px;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto; /* Center the paragraph within its container */
    font-style: italic;
    color: black;
    font-size: 1em;
    line-height: 1.5; /* Added line-height for better readability */
}

.quick-links-section,
.follow-us-section {
    margin: 20px 0; /* Added margin to separate sections */
}

.quick-links-list,
.follow-us-list {
    list-style-type: none; /* Removed default list styling */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px; /* Increased gap for better spacing */
}

.quick-links-list li,
.follow-us-list li {
    margin: 0;
    position: relative;
}

.quick-links-list li::after,
.follow-us-list li::after {
    content: "|";
    margin: 0 10px; /* Adjust the margin as needed */
    color: black; /* Adjust the color as needed */
}

.quick-links-list li:last-child::after,
.follow-us-list li:last-child::after {
    content: ""; /* Remove the bar after the last item */
}

.quick-links-list a,
.follow-us-list a {
    font-weight: bold;
    font-size: small;
}



/* Responsive styles */
@media (max-width: 768px) {
    .footer {
        padding: 15px 0; /* Adjust padding for smaller screens */
    }
}
